.b.navbar {
  margin-bottom: 0;
  background-color: black;
  border: 0;
  font-size: 11px ;
  letter-spacing: 4px;
  opacity: 0.9;
}


.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 ;
}


.navbar-nav li a:hover {
  color: black ;
}


.navbar-nav li.active a {
  color: black ;
  background-color:#6a207f ;
}


.navbar-default .navbar-toggle {
  border-color: #6a207f;
}


.open .dropdown-toggle {
  color: #fff ;
  background-color: #6a207f ;
}


.dropdown-menu li a {
  color: black ;
}


.dropdown-menu li a:hover {
  background-color: #6a207f ;
}


