  .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; 
      margin: auto;
      min-height:200px;
  }

  @media (max-width: 300px) {
    .carousel-caption {
      display: none; 
    }
  }
  html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo', cursive;
  color: white;
}
body {
  background-color: black;
}
